@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;

0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

main {
  background-color: #222;
  color: #f6f6f6;
  padding: 5rem 0rem;
  overflow: auto;
  margin-top: 72.45px;
  min-height: 100vh;
}

header {
  background-color: #8b0d0d;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .icon {
  width: 5%;
}

header .icon img {
  width: 100%;
}

header span {
  color: #f6f6f6;
  text-transform: uppercase;
  font-size: 2rem;
  flex-grow: 2;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f6f6f6;
}

a:hover {
  text-decoration: underline;
  color: #222;
}

.container {
  gap: 10px;
}

.movie {
  flex-basis: calc(33.3333333333% - 20px);
  text-align: center;
  line-height: 30px;
  border: 3px solid lightcyan;
}

.movie:hover {
  background-color: #f6f6f6;
}

.movie span {
  font-weight: bold;
}

